body{
  margin: 0px;
  background-image: url(images/bg-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  background-size: cover;
  font-family: Open sans, Arial;
  color: white;
}

.logo{
  width: 8rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.hero{
  width:19rem;
  margin-left: 2rem;
  margin-top: 3rem;
}
.info-container{
  text-align: center;
  margin: 3rem 3rem;
  gap: 4px;
}
.title{
  font-weight: 600;
  font-size: x-large;
}
.description{
  font-weight: 400;
  font-size: 14px;

}
button{
  background-color: white;
  color: hsl(257, 40%, 49%);
  border: none;
  padding: 10px 70px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, .25);
  cursor: pointer;
}
button:hover{
  background-color: hsl(300, 69%, 71%);
  color: white;
  transition: .15s;
}

.youtube-icon, .github-icon, .twitter-icon{
  width: 30px;
  margin-left: 10px;
  color: white;
  transition-duration: .6s;
  
}
.icon-container{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  
  
}

.attribution { 
  font-size: 11px; text-align: center;
  position:sticky;
  bottom: 0px;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
}
@media (min-width:420px){
  body{
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
  }
  .logo{
    width: 15rem
  }
  .main-container{
    display: flex;
    flex-direction: row;
  }
  .hero{
    width: 48rem;
    margin-left: 21rem;
    margin-top: 11rem;
  }
  .info-container{
    text-align: left;
    margin-top: 10rem;
  }
  .title{
    margin-right: 5rem;
    font-size: 3rem;
  }
  .icon-container{
    margin: 0%;
    margin-left: 90rem;
    margin-top: 5rem;
  }
  .attribution{
    margin: 0%;
  }
  .youtube-icon, .github-icon, .twitter-icon{
    width: 50px;

  }
  button{
    padding: 10px 50px;

  }
  .description{
    margin-right: 8rem;
    font-size: medium;

  }

}
